
  <h1>
  <a class="btn btn-primary" asp-action="Cadastro">Fazer outro pedido</a>
    <a class="btn btn-primary" asp-action="Listar">Ver pedido</a>
  <a class="btn btn-primary" asp-action="Editar">Editar/Excluir pedido</a>
    </h1>
