<div class="titulos">
    <h2 class="tituloprinc">Entre em contato!</h2>
</div>
<div class="linha">
    <div id="primeirorow" class="coluna col6">
        <h2>Conveniencia Guarantã do Norte</h2>
        <h3>Telefone: +55 31 89999-9999</h3>
        <h3>Email: emailgenerico@gmail.com</h3>
        <p>Responderemos o mais rápido possível.</p>
    </div>
<div class="linha">
    <div class="coluna col 12">
        <img src="~/img/fUNDO.jpg" width="1250px" height="900px" style="padding-left:100px; float: center;">
    </div>
</div>
