<div class="linhaindex">
    <div class="coluna col8">
        <div class="conteudoIndex">
            <h2>Quem somos</h2>
            <p> Conveniencia bem renomada no norte de MT, com um dos melhores fregueses  </p>
        </div>
    </div>
    <div id="imgsindex" class="coluna col4">
        <img class="fUNDO" src=""> 
        <p class="imgindextext">Guarantã - MT</p>
        
    </div>
</div>
