@{
    ViewData["Title"] = "Adiministrador";
}

<div class="text-center">
    <h1 class="display-4">Esta é a página do administrador</h1>
    <a class="btn btn-primary" asp-area="" asp-controller="Logado" asp-action="Inserir">Página para Cadastrar</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Logado" asp-action="Editar">Página para Editar</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Logado" asp-action="Excluir">Página para Excluir</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Logado" asp-action="ListarParaAdm">Página para Listar</a>
<br>
 @Html.ActionLink("Pacote","Adm", "Pacote", null, null )
       
</div>