@{
    ViewData["Title"] = "Funcionario";
}

<div class="text-center">
    <h1 class="display-4">Esta é a página do Funcionário</h1>
    <p>Acessada conforme a permissão pelo usuario Funcionário e o usuário Administrador</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Logado" asp-action="Listar">Aqui uma lista de usuários</a>
</div>