@{
    ViewData["Title"] = "Ok";
}

<div class="text-center">
    <p>Operação realizada com sucesso.</p>
</div>
<a class="btn btn-primary" asp-area="" asp-controller="Logado" asp-action="Administrador">Voltar</a>