<style>
    p{
        border: solid;
        width: 50px;
        height: 30px;
    }
</style>

<p>
@Html.ActionLink("Editar","EditarPacotes", "Pacote", null, null)
</p>
<p>
@Html.ActionLink("Inserir","Inserir", "Pacote", null, null)
<p>
@Html.ActionLink("Listar","Listar", "Pacote", null, null)
</p>
<p>
@Html.ActionLink("Excluir","Excluir", "Pacote", null, null)
</p>