<style>
    img{
        border-radius: 50%;
        width: 30%;
        height: 30%;
    }

    div{
        color: white;
    }
</style>
    
    <div class="container-fluid">
        <div class="row">
        <div class="col-auto"> 
        <p>
            <img src="~/img/Skol_Palito.jpg" />
        </p>
        <h4 class="h4"> 
                    Fardo fanta uva 2l


            </h4>
        </p>
<button>
     @Html.ActionLink("Comprar","Cadastro", "Home", null, null)
</button>
</div>
<div class="col-auto"> 
<p>
            <img src="~/img/Skol_Puro_Malte.jpg" />
        </p>
       <span>
                      Fardo fanta uva 1l

        </span>
        <br>
<button>
       @Html.ActionLink("Comprar","Cadastro", "Home", null, null)
</button>
</div>

</div>
    </div>
