<style>
    img{
        border-radius: 50%;
        width: 30%;
        height: 30%;
    }

    div{
        color: white;
    }
</style>
    <div>
        <p>
            Nao tem cerveja
        </p>
    </div>