<style>
    img{
        border-radius: 50%;
        width: 30%;
        height: 30%;
    }

    div{
        color: white;
    }
</style>
    
    <div class="container-fluid">
        <div class="row">
        <div class="col-auto"> 
        <p>
            <img src="~/img/Skol_Palito.jpg" />
        </p>
        <h4 class="h4"> 
            Caixa de Brahma Palito, <br>
            contendo 15 unidades

            </h4>
        </p>
<button>
     @Html.ActionLink("Comprar","Cadastro", "Home", null, null)
</button>
</div>
<div class="col-3"> 
<p>
            <img src="~/img/Skol_Puro_Malte.jpg" />
        </p>
       <span>
            Caixa de Brahma Duplo malte palito, <br>
             contendo 15 unidades
        </span>
        <br>
<button>
       @Html.ActionLink("Comprar","Cadastro", "Home", null, null)
</button>
</div>
<div class="col-3">
<p>
            <img src="~/img/fUNDO.png" />
        </p>
       <span>
            Caixa de Brahma zero lata, <br>
             contendo 12 unidades
        </span>
        <br>
<button>
       @Html.ActionLink("Comprar","Cadastro", "Home", null, null)
</button>
</div>
<div class="col-3">
<p>
            <img src="~/img/fUNDO.png" />
        </p>
       <span>
            Pacote Brahma abre facil, <br>
            contendo 06 unidades
        </span>
        <br>
<button>
       @Html.ActionLink("Comprar","Cadastro", "Home", null, null)
</button>
</div>
</div>
</div>
    </div>
