<style>
    img{
        border-radius: 50%;
        width: 30%;
        height: 30%;
    }

    div{
        color: white;
    }
</style>
    
    <div class="container-fluid">
        <div class="row">
        <div class="col-auto"> 
        <p>
            <img src="~/img/Skol_Palito.jpg" />
        </p>
        <h4 class="h4"> 
            Fardo Haineken, <br>
            contendo 24 unidades

            </h4>
        </p>
<button>
     @Html.ActionLink("Comprar","Cadastro", "Home", null, null)
</button>
</div>
<div class="col-3"> 
<p>
            <img src="~/img/fUNDO.png" />
        </p>
       <span>
           Pacote Heineken, <br>
            contendo 16 unidades
        </span>
        <br>
<button>
       @Html.ActionLink("Comprar","Cadastro", "Home", null, null)
</button>
</div>
</div>
    </div>
